@model ZooManager.Models.Enclosure

<h1>Delete Enclosure</h1>

<div class="alert alert-warning">
    Weet je zeker dat je verblijf <strong>@Model.Name</strong> wilt verwijderen?
    Dieren erin krijgen dan <strong>Enclosure = NULL</strong>.
</div>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger" type="submit">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>